<!-- post_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <header>
        <h1>{{ post.title }}</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Главная</a></li>
            <li><a href="{% url 'blog_list' %}">Блог</a></li>
        </ul>
    </nav>

    <main>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300">
        <p>{{ post.content }}</p>
        <p>Дата публикации: {{ post.publish_date }}</p>
        <p>Количество просмотров: {{ post.views_count }}</p>
    </main>

    <footer>
        <p>&copy; 2023 Курсовая работа для SKYPro "Основы веб-разработки на Django". Все права защищены.</p>
    </footer>
</body>
</html>
